.markdown-body {
  --portal-css-build: "2025-12-22";
}

.ebscobtn {
    background-color: #e3706c !important;
    color: #FFFFFF !important;
    text-decoration: none !important;
    border: none !important;
}