body::before {
  content: "TEST: CSS loaded from GitHub v7";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: var(--readme-test-color);
  color: white;
  font: 600 13px system-ui;
  text-align: center;
  z-index: 2147483647;
}

.ebscobtn {
    background-color: #e3706c !important;
    color: #FFFFFF !important;
    text-decoration: none !important;
    border: none !important;
}

